<h1 class="row"><%= Spree.t(:editing_shared_list) %></h1>
<%= form_for @shared_list do |f| %>
  <p><%= f.label :name, Spree.t(:name) %>:&nbsp;<%= f.text_field :name %></p>
  <%= f.submit Spree.t(:update) %>
  <%= Spree.t(:or) %>
  <%= link_to Spree.t(:delete_shared_list), @shared_list, method: :delete, data: { confirm: Spree.t(:are_you_sure_shared_list) }, class: 'button' %>
<% end -%>
