<h1><%= Spree.t(:creating_shared_list) %></h1>
<%= form_for @shared_list do |f| %>
  <p><%= f.label :name, Spree.t(:name) %>:&nbsp;<%= f.text_field :name %></p>
  <%= f.submit Spree.t(:create) %>
<% end -%>
