<div id="wishlist_header">
  <h1><%= @shared_list.name %></h1>
  <% if @shared_list.user == spree_current_user %>
    <div id="manage_wishlist_links">
    <!-- TODO : Translate -->
      <%= link_to Spree.t(:edit_shared_list), edit_shared_list_path(@shared_list), class: 'btn btn-default' %>
      <%= link_to Spree.t(:add_shared_list_to_cart), checkout_shared_list_path(@shared_list), method: :post, class: 'btn btn-success right' %>
    </div>
  <% end -%>
  </br>
</div>
<table id="wishlist" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th><%= Spree.t(:item_view) %></th>
      <th><%= Spree.t(:item_description) %></th>
      <th><%= Spree.t(:availability) %></th>
      <th><%= Spree.t(:date_added) %></th>
      <th><%= Spree.t(:price) %></th>
      <th><%= Spree.t(:quantity) %></th>
      <th><%= Spree.t(:total) %></th>
      <th><%= Spree.t(:shared_list_actions) %></th>
    </tr>
  </thead>
  <tbody id="line_items">
  <% if @shared_list.shared_products.size > 0 %>
    <% @shared_list.shared_products.each do |shared_product|
        variant = shared_product.variant
        product = variant.product %>
    <tr class="<%= cycle('', 'alt') %>">
      <td>
        <% if variant.images.length == 0 %>
          <%= small_image(variant.product) %>
        <% else %>
          <%= image_tag variant.images.first.attachment.url(:small) %>
        <% end %>
      </td>
      <td>
        <h4><%= link_to product.name, product %></h4>
        <p><%= variant_options variant %></p>
        <%= truncate(strip_tags(product.description), length: 100, omission: '...') %>
      </td>
      <td>
        <%= variant.can_supply? ? Spree.t(:in_stock) : Spree.t(:out_of_stock) %>
      </td>
      <td>
        <%= shared_product.created_at.strftime '%m/%d/%Y' %>
      </td>
      <td>
        <%= display_price(variant) %>
      </td>
      <td>
        <% if @shared_list.user == spree_current_user %>
          <%= form_for shared_product do |f| %>
            <%= f.number_field :quantity, class: 'sml-input-field' %>
            <%= f.submit Spree.t(:save, scope: :actions), class: 'btn btn-info '  %>
          <% end %>
        <% else %>
          <%= shared_product.quantity %>
        <% end %>
      </td>
      <td>
        <%= shared_product.display_total %>
      </td>
      <td>
        <% if @shared_list.user == spree_current_user %>
        <p><%= link_to Spree.t(:remove_from_shared_list), shared_product, method: :delete, class: 'btn btn-danger' %></p>
        <p>
          <% if spree_current_user.shared_lists.count > 1 %>
            <%= Spree.t(:move_to_another_shared_list) %>:
            <%= form_for shared_product do |f| %>
              <%= f.select :shared_list_id, spree_current_user.shared_lists.map{|wl| [wl.name, wl.id]} %>
              <%= f.submit Spree.t(:move), class: 'btn btn-default' %>
            <% end %>
          <% end %>
        </p>
        <% end -%>
        <p><%= link_to Spree.t(:add_to_cart), populate_orders_url(variant_id: variant.id, quantity: shared_product.quantity), method: :post, class: 'btn btn-success' %></p>
      </td>
    </tr>
    <% end -%>
  <% else -%>
    <tr>
      <td colspan="6"><%= Spree.t(:your_shared_list_is_empty) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
<div class="footer_links" data-hook="wishlist_footer_links">
  <% if @shared_list.user == spree_current_user %>
    <%= link_to Spree.t(:create_new_shared_list), new_shared_list_path, class: 'btn btn-default' %>
  <% end -%>
  <%= link_to Spree.t(:continue_shopping), products_path, class: 'btn btn-default' %>
  <% if @shared_list.user == spree_current_user %>
    <%= link_to Spree.t(:tell_about, scope: :share_with_friend), share_shared_list_path(@shared_list), class: 'btn btn-default' %>
  <% end %>
  <%= link_to Spree.t(:add_shared_list_to_cart), checkout_shared_list_path(@shared_list), method: :post, class: 'btn btn-success right' %>
  </br>
  </br>
</div>
